.custom-button {
    min-width: 165px;
    width: max-content;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    color: black;
    text-transform: uppercase;
    background: none;
    background-size: 200% 100%;
    background-position: left top;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.25s;

    &:hover,
    &:focus {
      background-position: right bottom;
      color: #fff;
    }

    &.google-sign-in{
      background: none;
      background-size: 200% 100%;
      background-position: right bottom;

      &:hover{
        background-color: #357ae8;
        border: none;
        background-position: left top;
      }
    }
}
  