.custom-button {
  min-width: 165px;
  width: max-content;
  height: 50px;
  letter-spacing: 0.5px;
  font-size: 15px;
  color: black;
  text-transform: uppercase;
  background: #fff;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.25s;

  &:hover,
  &:focus {
    background-color: #000;
    color: #fff;
  }

  &.google-sign-in{

    &:hover{
      background-color: #357ae8;
      border: none;
    }
  }

  &.inverted{
    background-color: #000;
    color: #fff;

    &:hover{
      color: black;
      text-transform: uppercase;
      background: #fff;
    }
  }
}
  